.container__password {
    display: flex;
}
.password {
    background-color: rgb(223, 211, 195);
    width: 75%;
    text-align: center;
    justify-content: center;
}
.btn__button {
    background-color: rgb(125, 110, 131);
   border-color: transparent;
   width: 5rem;
}